{{#each user}}
<div>
  <h2>{{userName}}</h2>
  <img src="{{logo}}">
  <a href='/bizzyprofile/{{id}}/following' method="POST">See people I'm following</a>
</div>
<div>
<form action="/bizzyprofile/{{id}}" method="POST">
  <p>Status update:</p><input type="text" name="post" placeholder="What's happening at {{userName}}" autofocus/>
  <input type="submit" name="commit" value="Submit"/>
</form>
{{/each}}
</div>
<div>
  <h3>News feed</h3>
  <table>
    {{#each postItems}}
    <tr>
      <td id="postName">{{userName}}</td>
      <td id="postBody">{{post}}</td>
    </tr>
    {{/each}}
  </table>
</div>
<div class="halfPage">
    <h3>Biz you follow</h3>
    {{#each following}}
    <div>
      <h4>{{userName}}</h4>
      <img src="{{logo}}">
    </div>
    {{/each}}
</div>
<div class="halfPage">
    <h3>Other Biz on BizzySocial</h3>
    {{#each others}}
    <div>
      <h4>{{userName}}</h4>
      <img src="{{logo}}">
    </div>
    {{/each}}
</div>
